# Build outputs
/build
/build_Linux
/build_Windows

# Data directory
/data

# Python cache
script/__pycache__/

# Untracked scripts
script/GTest_analysis_cvg_cst.py
script/download_epn_obs.py
script/crx2rnx
script/crx_downloaded_fromGA.sh
script/arial.ttf